* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.page{
    display: flex;
    width: 1440px;
    background-color: wheat;
}

#leaf {
    width: 30vw;
    height: 100%;

}
.banner{
    display: flex;
    position: absolute;
    background-color: black;
    width: 30vw;
    height: 150px;
    top: 11rem;
    opacity: 0.6;
    color: white;
    align-items: center;
    justify-content: center;
}
#logo {
    height: 130px;
}

.banner > p {
    font-size: 100px;
}

#image-credit {
    position: absolute;
    bottom: 0.5rem;
    color: white;
    
}

.content {
    width: 70vw;
    height: 100vh;
}
section {
    height: 35vh;
}
fieldset {
    background-color: white;
    filter: drop-shadow(0px 5px 5px black);
    border: 0px;
    height: 30vh;
}
label,input {
    display: block;
}
.input-pairs {
    display: flex;
}
button {
    background-color: #596D48;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    width: 250px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
}